@page
@model VentureGG.CreateModel
@{
    ViewData["Title"] = "Home page";
}

<main class="main">
    <section class="container">

        <section class="sign-up-container">


            <div class="overlay overlay__signin">
                <h1>Welcome Back!</h1>
                <p>
                    To keep connected with us please login with your personal info
                </p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>

            <div class="form-container signup">
                <form action="post">
                    <h1>Create Account</h1>
                    <div class="social-container">
                        <a href="#" class="social">
                            <i class="icon fa fa-empire"></i>
                        </a>
                        <a href="#" class="social">
                            <i class="icon fa fa-dropbox"></i>
                        </a>
                        <a href="#" class="social">
                            <i class="icon fa fa-empire"></i>
                        </a>
                    </div>
                    <span>or use your email for registration</span>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="text" placeholder="Name" asp-validation-for="Users.Username" class="form-control" />
                    <input type="email" placeholder="Email" asp-validation-for="Users.Email" class="form-control" />
                    <input type="password" placeholder="Password" asp-validation-for="Users.Password" class="form-control" />
                    <button class="btn btn-primary">Sign Up</button>
                  </form>
            </div>


        </section>




        <section class="sign-in-container">
            <div class="form-container signin">
                <form action="#">
                    <h1>Sign in</h1>
                    <div class="social-container">
                        <a href="#" class="social">
                            <i class="icon fa fa-empire"></i>
                        </a>
                        <a href="#" class="social">
                            <i class="icon fa fa-dropbox"></i>
                        </a>
                        <a href="#" class="social">
                            <i class="icon fa fa-empire"></i>
                        </a>
                    </div>
                    <span>or use your account</span>
                    <input type="email" placeholder="Email" />
                    <input type="password" placeholder="Password" />
                    <a href="#">Forgot your password?</a>
                    <button>Sign In</button>
                </form>
            </div>

            <div class="overlay overlay__signup">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </section>


    </section>
</main>

<script type="text/javascript" src="js/main.js"></script>
