.main {
    @include flexCenter;
    height:100vh;
}

.container {
    height:80%;
    width:80%;
    background-color: #ffffff;
    border-radius:1rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    position: relative;

    @include respond(misc2) {
       height:90%;
     }

     @include respond(phone) {
       height:70vh;
     }
}



.signin.active  {
    transform: translateX(210%);
}

.sign-up-container {
    z-index:1;
}

.sign-in-container {
    z-index:2;

    &.active {
        z-index:-1;
        opacity:0;
        animation: swap 1s ease-in-out;
    }
}



.sign-up-container,
.sign-in-container {
    display:flex;
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;

    @include respond(misc2) {
       flex-direction: column;
    }

    .form-container,
    .overlay {
        flex-basis:50%;
        transition: all 1s ease-in-out;

        @include respond(misc2) {
            flex-basis:100%;
         }
    }

    .overlay {
        background: #ff416c;
        background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
        background: linear-gradient(to right, #ff4b2b, #ff416c);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        color: #ffffff;
        @include flexCenter;
        flex-direction:column;

        @include respond(misc2) {
            padding:2rem;
         }

         @include respond(phone) {
            padding:3rem;
         }

        h1 {
            text-align: center;
        }

        p {
            text-align:center;
            width:60%;
        }

        button {
            transition:all .2s;

            &:hover {
                background: linear-gradient(to left,#ff416c,  #ff4b2b);
                border-color: #ffffff;
                transform:scale(1.2);
            }
        }

        &__signup.active {
            transform: translateX(-210%);
        }
    }
    
}


// .signin.active  {
//     transform: translateX(210%);
// }

// .overlay__signup.active  {
//     transform: translateX(-210%);
// }


// .sign-in-container.active {
//      z-index:-1;
//     opacity:0;
//     animation: swap 1.5s ease-in-out;
// }



@keyframes swap {
    0% {
        z-index:2;
        opacity:1;
    }

    100% {
        z-index:-1;
        opacity:0;
    }
}